
<%= simple_form_for @cocktail do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    What would you like to name your drink?
    <%= f.input :name, hint: 'cocktail name', label: 'Relaxing cocktail name' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
